<div class="row">

  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="images/yeoman.png" alt="Nome Marmita">
      <div class="caption">
        <h4>Marmita label</h4>
        <p>
          <a href="#" class="btn btn-default" role="button">Detalhes</a>
          <a ng-if="adminLogado" href="#" class="btn btn-primary btn-xs" role="button" style="margin-top:15px;">Editar</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="images/yeoman.png" alt="Nome Marmita">
      <div class="caption">
        <h4>Marmita label</h4>
        <p>
          <a href="#" class="btn btn-default" role="button">Detalhes</a>
          <a ng-if="adminLogado" href="#" class="btn btn-primary btn-xs" role="button" style="margin-top:15px;">Editar</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="images/yeoman.png" alt="Nome Marmita">
      <div class="caption">
        <h4>Marmita label</h4>
        <p>
          <a href="#" class="btn btn-default" role="button">Detalhes</a>
          <a ng-if="adminLogado" href="#" class="btn btn-primary btn-xs" role="button" style="margin-top:15px;">Editar</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="images/yeoman.png" alt="Nome Marmita">
      <div class="caption">
        <h4>Marmita label</h4>
        <p>
          <a href="#" class="btn btn-default" role="button">Detalhes</a>
          <a ng-if="adminLogado" href="#" class="btn btn-primary btn-xs" role="button" style="margin-top:15px;">Editar</a>
        </p>
      </div>
    </div>
  </div>

</div>

<a ng-if="adminLogado" href="/#/admin/marmita/criar" class="btn btn-success" role="button">Nova Marmita</a>

